/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* UTILITIES */

.container {
    background-color: blue;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
